.left-top{
    display:flex;
    align-items:center;
}
.prod-name{
    font-size:20px;
    font-weight:bold;
    //float: left;
}
.prod-content{
    margin-right: 85%;
}

img{
    width: 100px;
    height: 100px;
}